body {
    font-family: "Poppins", sans-serif;
    background-color: #041562;
  }
  
  #seleccionar-mascota {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  
  .titulo {
      color: white;
      font-size: 32px;
      font-family: "Fredoka One", cursive;
  }
  
  .subtitulo {
      color: white;
  }
  
  .tarjetas, .tarjetas-ataques {
      display: flex;
      gap: 10px;
  }
  
  .tarjeta-de-mokepon {
      width: 100px;
      height: 100px;
      background-color: aquamarine;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 20px;
  }
  
  .tarjeta-de-mokepon img {
      width: 80px;
  }
  
  #boton-mascota {
      width: 100px;
      height: 40px;
      border-radius: 20px;
      background: transparent;
      border: 2px solid white;
      color: white;
      font-family: "Poppins", sans-serif;
      margin-top: 30px;
  }
  
  input {
      display: none; 
  }
  
  #seleccionar-ataque {
      flex-direction: column;
      align-items: center;
  }
  
  .boton-de-ataque {
      background-color: #11468f;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 20px;
      border-color: transparent;
      width: 100px;
      color: white;
      font-family: "Poppins", sans-serif;
  }
  
  #mensajes {
      width: 280px;
      background: #EEEEEE;
      padding: 20px;
      margin-top: 20px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      flex-direction: column;
  }
  
  #boton-reiniciar {
      border: none;
      color: #11468f;
      font-family: "Poppins", sans-serif;
  }
  
  .ataque {
      display: grid;
      grid-template-columns: 100px 100px; 
      color: white;
  }
  
  #vidas-jugador, #vidas-enemigo {
      font-size: 32px;
      margin-bottom: 0;
  }
  
  .ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
      flex-direction: column;
    }
  }